---
import { LoginForm } from "@/components/react/login-form";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Login">
	<div class="flex h-screen items-center justify-center">
		<LoginForm className="sm:w-md" />
	</div>
</Layout>
