---
import TailwindEditor from "@/components/react/novel/tailwind-editor";
import Layout from "@/layouts/Layout.astro";
---

<Layout navigation>
	<div class="px-96">
		<TailwindEditor client:only="react" />
	</div>
</Layout>
