---
import { Dashboard } from "@/components/react/dashboard";
import Layout from "@/layouts/Layout.astro";
const sidebarState = Astro.cookies.get("sidebar_state")?.boolean() || true;
---

<Layout>
	<Dashboard client:load sidebarOpen={sidebarState}>
		<div class="h-full w-full"></div>
	</Dashboard>
</Layout>
