---
import { Dashboard } from "@/components/react/dashboard";
const sidebarState = Astro.cookies.get("sidebar_state")?.boolean() || false;
---

<Dashboard client:only="react" sidebarOpen={sidebarState}>
	<h1>Hi</h1>
</Dashboard>
